/***** general stylings *****/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

:root {
    --clr-purple-01: hsl(268, 75%, 44%); 
    --clr-purple-02: hsl(268, 58%, 55%);
    --clr-white-02: hsl(0, 0%, 98%);
    --clr-grey: hsla(0, 0%, 0%, 0.6);
    
    --font-size-1: .7rem;
    --font-size-2: 1rem;
    --font-size-3: 1.2rem;
    --font-size-4: 1.5rem;
    }

body {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    min-height: 100vh;
    background-color: var(--clr-white-02);
    color: var(--clr-purple-01);
    border: .1rem solid black;
}

main {
    padding-inline: calc(7% + 1vw);
    font-style: Source Sams Pro;
}
 
/****** specific stylings ******/

/*.line { 
    position: absolute;
    height: 4px;
    width: 55px; 
    background: var(--clr-white-02);
    border-radius: .5rem;
}*/

.header {
    background-color: var(--clr-purple-01);
    padding: 2rem 1rem 0 1rem;
}

.arrow {
    height: 3.5rem;
    position: relative;
    background-color: var(--clr-purple-01);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 15%);
}

.arrow-sdw {
    background-color: var(--clr-purple-02);
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: -1;
}

.menu-icon {
    width: 50px;
    height: 50px;
}

.student-icon {
    width: 3rem;
    height: 3rem;
}

.search-form {
    max-width: 80;
    position: relative;
}

.search-bar {
    width: 100%;
    padding: .5rem .75rem;
}

.search-icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 14px;
    top: 12px;
}

/****** utilities ******/

.white {
    color: var(--clr-white-02);
}

.purple {
    color: var(--clr-purple-01);
}

.light-black {
    color: var(--clr-grey)
}

.font-accent {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.bg-purp {
    background-color: var(--clr-purple-02);
    padding: 12px;
}

.caps {
    text-transform: capitalize;
}

.visibility {
   display: none;
    }
    
.inline {
    display: inline-block;
}

.border {
    border: .15rem solid var(--clr-purple-02);
    border-radius: .15rem;
}

.border-r-03 {
    border-radius: .3rem;
}

.box-shadow {
    box-shadow: var(--clr-purple-01) 2.5px 2.5px;
    margin-bottom: 1rem;
}

.font-size-1 {
    font-size: var(--font-size-1);
} 

.font-size-2 {
    font-size: var(--font-size-2);
} 

.font-size-3 {
    font-size: var(--font-size-3);
} 

.font-size-4 {
    font-size: var(--font-size-4);
} 

.wrapper-padding {
    padding: .5rem .75rem;
}

.flex-padding {
    padding: 1rem 1rem;
}

.mrg-0 {
    margin: 0;
}

.mrg-t-3 {
    margin-top: 3rem;
}

.mrg-l-1-5 {
    margin-left: 1.5rem;
}

.mrg-b-1 {
    margin-bottom: 1rem;
}

.mrg-b-3 {
    margin-bottom: 3rem;
}

.flex-jtf-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-aln-center{
    display: flex;
    align-items: center;
}